body{
    background-image: url("https://i.ibb.co/zJhyNB4/IMG-20230526-152306.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    size: 60px;
}
h1{
    font-size: 30px;
    color: blue;
    text-align: center;

}
.table{
    position:absolute;
    top:200;
    left:400;
}
.table_btn{
    text-align: center;
    border-radius: 35px;
    padding: 25px  55px;
    font-size: 15px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 /100);
}
nav {
    background-color: #333;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    right:0;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size:large ;
    
}
nav a:hover {
    background-color: #dddddd;
    color: black;
}
.logout{
    float: right;
}
.logo{
    float: left;
    height: 60px;
    padding: 10px;
    border-radius: 60px;
}
.user_logo{
    height: 60px;
    padding: 10px;
    float: right;
    padding-right: 30px;
}
